# Ignore Python virtual environment folder
mlops/

data/raw/housing.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings 
.vscode/

# MacOS system files
.DS_Store

# Environment variables or secrets
.env